<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />

    <title>{% block title %}Covi tracker{% endblock title %}</title>
  </head>
  <body>
    <!-- prettier-ignore -->
    {% block content %}
    
    {% endblock content %}
    <!-- prettier-ignore -->

    {% comment %}
    <script src="{% static 'js/Chart.min.js' %}"></script>
    <script src="{% static 'js/excanvas.js' %}"></script>
    {% endcomment %} {% block extrascripts %} {% endblock extrascripts %}
  </body>
</html>
